body{

    font-family: Arial;
    background:#f4f8fb;
}

.contenedor{

    width:90%;
    max-width:500px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}

h1,h2{

    text-align:center;
    color:#0b5ed7;
}

label{

    display:block;
    margin-top:15px;
    font-weight:bold;
}

select,input,button{

    width:100%;
    padding:12px;
    margin-top:8px;
    border-radius:8px;
    border:1px solid #ccc;
    box-sizing:border-box;
}

button{

    background:#0b5ed7;
    color:white;
    border:none;
    cursor:pointer;
}

.oculto{

    display:none;
}

table{

    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

table,th,td{

    border:1px solid #ccc;
}

th,td{

    padding:10px;
    text-align:center;
}
button{

    width:100%;
    padding:14px;
    margin-top:20px;
    border:none;
    border-radius:10px;
    background:#0b5ed7;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}
